<div class="p-4 text-center">

  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/films">films</a>
    </li>
    <li class="nav-item" routerLink="/people">
      <a class="nav-link">people</a>
    </li>
    <li class="nav-item" routerLink="/planets">
      <a class="nav-link">planets</a>
    </li>
    <li class="nav-item" routerLink="/species">
      <a class="nav-link">species</a>
    </li>
    <li class="nav-item" routerLink="/starships">
      <a class="nav-link">starships</a>
    </li>
    <li class="nav-item" routerLink="/vehicles">
      <a class="nav-link">vehicles</a>
    </li>
  </ul>

</div>
