<ul class="nav">
  <li class="nav-item">
    <a class="nav-link disabled">films</a>
  </li>
  <li class="nav-item" routerLink="/people">
    <a class="nav-link">people</a>
  </li>
  <li class="nav-item" routerLink="/planets">
    <a class="nav-link">planets</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled">species</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled">starships</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled">vehicles</a>
  </li>
</ul>
