<div class="container-fluid">

  <div class="d-flex flex-row justify-content-center">


    <div class="card" style="width: 18rem;"  *ngIf="personDetails">
      <div class="card-body">
        <h5 class="card-title">{{personDetails.name}}</h5>
        <ul class="list-group">
          <li class="list-group-item">Birth year: {{personDetails.birth_year}}</li>
          <li class="list-group-item">Eye color: {{personDetails.eye_color}}</li>
          <li class="list-group-item">Gender: {{personDetails.gender}}</li>
          <li class="list-group-item">Hair color: {{personDetails.hair_color}}</li>
          <li class="list-group-item">Height: {{personDetails.height}}</li>
          <li class="list-group-item">Planet: {{personDetails.planet.name}}</li>
          <li class="list-group-item">Mass: {{personDetails.mass}}</li>
          <li class="list-group-item">Skin color: {{personDetails.skin_color}}</li>
        </ul>
      </div>
    </div>

  </div>

  <div class="d-flex- flex-row text-end">

    <a href="#" class="btn btn-primary " routerLink="/people-list">Go back</a>
  </div>

</div>
