<div class="container-fluid text-center">
  <div class="d-flex flex-row justify-content-center" *ngFor="let person of people">
    <ul class="list-group">
      <li class="list-group-item border-0">
        <div class="d-flex flex-column">
          <h4 class="px-3 border-bottom">{{person.name}}</h4>
          <p class="px-3">{{transformHeight(person.height)}}</p>
          <p class="px-3">{{person.planet.name}}</p>
          <p class="px-3 text-primary" routerLink="/person-details/{{goToDetail(person.url)}}">Ver más</p>
        </div>
      </li>
    </ul>
  </div>
</div>

